{
  "extends": ["react-native-prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 4
      }
    ],
    "no-var": "warn",
    "no-dupe-class-members": "warn",
    "no-duplicate-case": "warn",
    "no-duplicate-imports": "warn",
    "no-dupe-keys": "warn",
    "no-dupe-args": "warn",
    "react/no-deprecated": "warn",
    "react/no-string-refs": "warn"
  }
}
